/*
Custom css
*/

@font-face {
	font-family: "Poppins Extra Bold";
	font-weight: 900;
	src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
	font-family: "Poppins Regular";
	src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: "Rubik";
	font-weight: normal;
	src: url(../font/Rubik/Rubik.ttf);
}

:root {
	--c60: 255 255 255;
	--c30: 0 0 0;
	--c10: 31 70 144;
	--c60i: 0 0 0;
	--c30i: 255 255 255;
	--c10i: 255 255 255;
	--info: 20 186 228;
	--success: 49 201 113;
	--warning: 244 196 20;
	--danger: 245 67 148;
	--font-1: "Poppins Extra Bold";
	--font-2: "Poppins Regular";
	--font-3: "Rubik";
	--outline-shadow: 0 0 0 1px rgb(var(--c30));
	--hover-shadow: 0 0 20px -5px rgb(var(--c30) / .3);

	--bKash: 227 16 110;
	--bKashi: 255 255 255;

	accent-color: rgb(var(--c10));
}

body {
	font-family: var(--font-3);
	background-color: rgb(var(--c60));
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-1);
}

thead th {
	border-top: 0!important;
}

.ff1 {
	font-family: var(--font-1);
}

.ff2 {
	font-family: var(--font-2);
}

.ff3 {
	font-family: var(--font-3);
}

.fc60 {
	color: rgb(var(--c60i));
}

.fc30 {
	color: rgb(var(--c30i));
}

.fc10 {
	color: rgb(var(--c10i));
}

.fct {
	color: rgb(var(--c10));
}

.loading-spinner {
	display: inline-block;
	height: 18px;
	aspect-ratio: 1/1;
	border-radius: 9px;
	border: 2px solid #fff;
	border-top-color: transparent;
	border-right-color: transparent;
	vertical-align: -5px;
	-webkit-animation: loading-spinner .5s linear infinite;
	animation: loading-spinner .5s linear infinite;
}

@keyframes loading-spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loading-spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.hta {
	/* hidden table actions */
	visibility: hidden;
}

tr:hover .hta {
	visibility: visible;
}

.form-control, .custom-select {
	border-width: .5px;
}

.form-control:focus, .custom-select:focus, .btn:focus {
	box-shadow: var(--outline-shadow);
}

.btn:not(.btn-lg,.btn-sm) img {
	height: 18px;
}

.btn-theme {
	background-color: rgb(var(--c10));
	font-family: var(--font-1);
	color: rgb(var(--c10i));
}

.btn-theme:active {
	box-shadow: 0 0 0 .2rem rgb(var(--c10) / .5);
}

.card-tag-info, .card-tag-success, .card-tag-warning, .card-tag-danger {
	display: flex;
	padding: 1rem;
	border-left: 3px solid;
}

.card-tag-info {
	border-color: rgb(var(--info));
	background-color: rgb(var(--info) / .1);
}

.card-tag-success {
	border-color: rgb(var(--success));
	background-color: rgb(var(--success) / .1);
}

.card-tag-warning {
	border-color: rgb(var(--warning));
	background-color: rgb(var(--warning) / .1);
}

.card-tag-danger {
	border-color: rgb(var(--danger));
	background-color: rgb(var(--danger) / .1);
}

.bg-bKash {
	background-color: rgb(var(--bKash));
	color: rgb(var(--bKashi));
}

.feed a {
	color: rgb(var(--c60i)) !important;
	text-decoration: none;
}

.feed .feed-banner {
	background-image: linear-gradient(45deg, orange, firebrick);
}

.feed .feed-banner-body {
	padding: 1rem 1.5rem;
	color: #fff;
}

.feed-items .card {
	background-color: rgb(var(--c60));
	border: 0;
	border-radius: .25rem;
	margin-bottom: 1rem;
	overflow: hidden;
	transition: .1s ease-in box-shadow;
}

.feed-items .card:hover {
	box-shadow: 0 0 0 4px rgb(var(--c60)), 0 0 0 6px rgb(var(--c30));
}

.feed-items .card-thumb {
	height: 200px;
}

.feed-items .card-thumb img {
	position: relative;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 200px;
	transform: translate(-50%, -50%);
}

.feed-items .card-body {
	height: 100px;
}

nav.navbar {
	z-index: 999;
	padding: .5rem 0;
}

.navbar > .container-fluid {
	display: block;
}

.head-search {
	border-radius: .25rem;
}

.head-search input:focus, .head-search button:focus {
	box-shadow: none;
}

.signup-main {
	background-image: linear-gradient(45deg, slateblue 20%, transparent 20%, transparent 80%, slateblue 80%), url(../img/sign-up-welcome.png);
	background-size: cover, 500px;
	background-repeat: no-repeat;
	background-position: 0 0, 10% center;
}

.login-main {
	background-image: url(../img/login-blob.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.product-details .crsl {
	position: relative;
	height: 300px;
}

.product-details .crslc {
	height: 100%;
}

.product-details .crsli {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .1s opacity;
}

.product-details .crsli.active {
	opacity: 1;
}

.product-details .crslp, .product-details .crsln {
	position: absolute;
	background-color: rgb(var(--c30) / .1);
	color: rgb(var(--c30i));
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	width: 30px;
	height: 30px;
	bottom: 5px;
}

.product-details .crsl:hover .crslp, .product-details .crsl:hover .crsln {
	background-color: rgb(var(--c30));
}

.product-details .crslp {
	right: 60px;
}

.product-details .crsln {
	right: 5px;
}

.product-details .crsl img {
	max-width: 100%;
	max-height: 300px;
}

.product-details th, 
.product-details td {
	width: 50%;
	border: 0;
}